{% extends 'base.html.twig' %}

{% block title %}Task {{ task.id }}{% endblock %}

{% block header %}
    <div id="current-user"></div>
    <div id="title-page">
        <h1>{{ task.title }}</h1>
    </div>
{% endblock %}

{% block content %}

    {{ form_start(form, { attr: { name: 'tache' } }) }}

    <div>
        {{ form_row(form.title, { label_attr: { class: 'required' } }) }}
    </div>
    <div>
        {{ form_row(form.description) }}
    </div>
    <div class="flex-form">
        <div>
            {{ form_row(form.deadline) }}
        </div>
        <div>
            {{ form_row(form.status, { label_attr: { class: 'required' } }) }}
        </div>
    </div>
    <div>
        {{ form_row(form.employee) }}
    </div>
    <br>
    {{ form_row(form.submit) }}

    {{ form_end(form) }}

    {% if isEdit %}
        <form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche ?')">
            <a href="#" class="delete-task" onclick="this.closest('form').submit(); return false;">Supprimer la tâche</a>
        </form>
    {% endif %}

{% endblock %}
