{% extends 'base.html.twig' %}

{% block title %}Équipe{% endblock %}

{% block header %}
    <div id="current-user"></div>
    <div id="title-page">
        <h1>Équipe</h1>
    </div>
{% endblock %}

{% block content %}

<table id="team-container">
    <thead>
        <tr>
            <th>Prénom, Nom</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for employee in employees %}
            <tr>
                <td>
                    <div class="employee-infos">
                        <div class="employee-avatar">
                            {{ employee.firstName|slice(0, 1) ~ employee.lastName|slice(0, 1) }}
                        </div>
                        <div class="employee-coords">
                            <strong>{{ employee.firstName}} {{ employee.lastName }}</strong>
                            <span>{{ employee.email }}</span>
                        </div>
                    </div>
                </td>
                <td>{{ employee.contractType }}</td>
                <td>
                    <a class="button button-edit-team" href="{{ path("employee_edit", {'id': employee.id }) }}">
                        Éditer
                    </a>
                    <a class="delete-team" href="{{ path("employee_delete", {'id': employee.id }) }}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

