{% extends "base.html.twig" %}

{% block title %}{{ project.name }}{% endblock %}

{% block header %}
    <div id="current-user"></div>
    <div id="title-page">
        <div class="flex-header">
            <h1>{{ project.name }}</h1>
            <div class="user-list">
                {% for employee in project.employees %}
                    <div class="avatar">
                        {{ employee.firstName|slice(0, 1) ~ employee.lastName|slice(0, 1) }}
                    </div>
                {% endfor %}
            </div>
            <a class="button" href="{{ path("project_edit", {'id': project.id}) }}">Modifier</a>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="tasks-container">

    {% for status in project.statuses %}
        <div class="task-column">
            <h2>{{ status.label }}</h2>
            <div class="tasks-list">

                {% for task in status.tasks %}
                    <a class="task" href="{{ path("task_details", {'id': task.id}) }}">
                        <h3>{{ task.title }}</h3>
                        <p>{{ task.description }}</p>
                        <div class="task-infos">
                            <div class="task-deadline">
                                 <i class="fa-regular fa-calendar"></i> {{ task.deadline|date('d/m/Y') }}
                            </div>
                        </div>
                    </a>
                {% endfor %}

                <a href="{{ path("task_new", {'status_id': status.id }) }}" class="task-add">
                    + Ajouter une tâche
                </a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
