{% extends 'base.html.twig' %}

{% block title %}{{ isEdit ? "Modifier un projet" : 'Nouveau projet' }}{% endblock %}

{% block header %}
    <div id="current-user"></div>
    <div id="title-page">
        <h1>{{ isEdit ? project.name : 'Nouveau projet' }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        {{ form_start(form, {'attr': {'name': 'projet', 'method': 'post'}}) }}
            <div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>

            <div>
                {{ form_label(form.employees) }}
                {{ form_widget(form.employees) }}
            </div>
            <br>
            <button class="button button-submit">
                {{ isEdit ? 'Modifier' : 'Continuer' }}
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}

